<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="nav-buttons">
            <button class="prev" onclick="showPreviousCard()"></button>
            <div class="card-container">
                {% for card in flashcards %}
                <div class="flashcard" id="flashcard-{{ card.id }}" style="display: none;" onclick="this.classList.toggle('flipped')">
                    <div class="flashcard-inner">
                        <div class="flashcard-front">
                            <p>{{ card.question | safe }}</p>
                            <p class="card-number" id="card-number-{{ card.id }}"></p>
                            {% if card.additional_content and card.additional_content|striptags|trim != '' %}
                                <script>console.log('Additional content for card {{ card.id }}: {{ card.additional_content }}');</script>
                                <a href="javascript:void(0);" onclick="openModal(event, {{ card.id }})" class="view-link">View More</a>
                            {% else %}
                                <script>console.log('No additional content for card {{ card.id }}');</script>
                            {% endif %}
                        </div>
                        <div class="flashcard-back">
                            <div class="flashcard-content">
                                <p>{{ card.answer }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-{{ card.id }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal({{ card.id }})">&times;</span>
                        <div id="modal-content-{{ card.id }}">{{ card.additional_content | safe }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="next" onclick="showNextCard()"></button>
        </div>
        <button class="add-button" onclick="window.location.href='{{ url_for('add') }}'">Add New Card</button>
        <button class="edit-button" onclick="editCurrentCard()">Edit Current Card</button>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
